.avatar-wrapper {
  padding: 0;
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
  margin-top: 40rpx;
  background-color: #fff;
  border: 1px solid #ccc;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.cell-wrapper {
  margin-top: 50rpx;

  .faceimg {
    width: 100rpx;
    height: 100rpx;
    border-radius: 10rpx;
    margin-left: 30rpx;
  }
}